body{
    background-color: #F5F5F5;
    font-family: 'Futura PT Medium', serif;
}
.profile-tab{
    margin-top: 36px;
    display: flex;
}
.profile-nav{
    width: 270px;
    margin-left: 64px;

    font-size: 20px;
    font-weight: 400;
    color: #1D1E20;


    display: flex;
    flex-direction: column;
}

.profile-link{
    cursor: pointer;
    padding-left: 14px;
}
.pl-active{font-weight: 600;}
.profile-link:hover,.pl-active{
    border-left: 2px solid black;
}
hr{
    border: 2px solid #F1F1F3;
}
.box-hr{
    margin-top: 24px;
    margin-bottom: 24px;
}
.wide{
    margin: 36px -32px 36px -32px;
}
.content-box{
    margin-bottom: 12px;
    width: 1490px;
    padding: 32px;
    padding-top: 24px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(28, 38, 83, 0.08);
}
.property{
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 16px;
}
/* --------------------------------------------- */

.toggle-radio{
    font-size: 18px;
    font-weight: 500;
    appearance: none;

    width: 490px;
    height: 40px;

    background-color: #F1F1F3;
    border-radius: 7px;
}
.lever{
    user-select: none;
    height: 32px;
    width: 241px;
    /* padding: 56.5px 56.5px; */
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}
.preview{
    margin-top: 20px;
}
.focus{
    position: absolute;
    z-index: 0;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(3, 30, 38, 0.04);
    border-radius: 5px;
    height: 32px;
    width: 241px;
    margin-left: 240px;
    transition: 0.6s;
}
.left{
    transition: 0.6s;
    margin-left: 0px;
    margin-right: 240px;
}
.options{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-mode{
    font-family: 'Inter', sans-serif;
}
.input{
    width: 432px;
    font-size: 15px;
    margin-right: 24px;
    margin-bottom: 24px;
}
.w432{
    width: 432px;
}
.sinput{
    width: 490px;
}
.input input, .w432 input{
    height: 30px;
    width: 398px;
}
.save-btn{
    width: 432px;
}
.inputs{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.line-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.w-item{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 20px 0px 20px 0px;
    padding: 7.5px;
}
.explanation{
    width: 314px;
}
